@import 'src/styles/abstracts/variables';

.stock-item {
  background-color: $nord13;

  width: 300px;
  padding: 15px;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
}
