html,
body {
  height: 100%;
}

html {
  background-color: rgba($nord6, 0.4);
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.input,
.input:focus {
  box-shadow: none;
  font-family: inherit;
}

.navbar {
  background-color: transparent;
  padding: 0 1.5rem;
}

.box {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}
