@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  src: url('src/assets/fonts/QuicksandRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  src: url('src/assets/fonts/QuicksandSemiBold.ttf') format('truetype');
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

.secondary-text {
  font-size: 12px;
  color: rgba($nord3, 0.5);
  &:hover {
    color: $nord3;
  }
}

@keyframes showDelayedText {
  from {
    color: transparent;
  }
  to {
    color: #4a4a4a;
  }
}

.delayed-text {
  color: transparent;
  animation-name: showDelayedText;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-delay: 1s;
}
